/* 1199px 991px 767px 600px 500px*/
@media (min-width: 1200px) {
	.header .container {
		max-width: 1146px;
	}

	.banner2 .container,
	.banner .container {
		max-width: 1350px;
	}

	.carousel1 .container {
		max-width: 1220px;
	}

	.clientsSay .container {
		max-width: 1200px;
	}
}

@media (max-width: 1199px) {
	.banner .banner_img {
		justify-content: center;
	}

	.carousel2 .owl-carousel .item h3 {
		font-size: 23px;
		line-height: 100%;

	}

	.carousel2 .owl-carousel .item {
		padding: 10px 10px;
		max-height: 414px;
	}

	.clientsSay_img {
		margin-left: 0px;
	}

	.banner .banner_text {

		padding-bottom: 30px;
	}
}

@media (max-width: 991px) {
	.nav_menu {
		display: flex;
		position: absolute;
		flex-direction: column;
		top: 10px;
		left: -40px;
		background-color: #13233d;
		padding: 20px 50px;
	}

	.carousel2 .owl-carousel .item {
		padding: 10px 10px;
		max-height: 347px;
	}

	.btn_log {
		padding: 15px 20px;
	}

	.nav_none {
		display: none;
		position: relative;
	}

	.nav_menu a {
		margin: 5px;
	}


	.menu_burger i {
		display: block;
	}

	.logo_none {
		display: none;
	}

	.menu_burger i {
		font-size: 30px;
		color: #3A68B8;
		transition: 0.5s linear;
	}

	.menu_burger i:hover {
		color: #005eff;
	}

	.menu_burger {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.banner .banner_text {
		margin-left: 0px;
	}

	.banner {
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.banner .banner_text {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.carousel1 {
		padding-bottom: 60px;
	}

	.banner2 .row {
		flex-direction: column-reverse;
	}

	.banner2 .banner_text {
		margin-left: 0px;
	}

	.banner2 .banner_text {
		padding-top: 60px;
	}

	.carousel2 {
		padding-bottom: 50px;
	}

	.clientsSay .clientsSay_text {
		padding-top: 44px;
		padding-left: 0px;
		padding-bottom: 20px;
	}

	.clientsSay {
		padding-bottom: 60px;
	}

	.banner2 .banner_text h2 {
		max-width: 100%;
		text-align: right;
	}

	.banner2 .banner_text p {
		max-width: 100%;
		text-align: right;
	}

	.banner2 .banner_text .btn_banner {
		margin-left: 68%;
	}

	.footer_child_link h3 {
		margin-top: 20px;
	}

	.footer_child_link {
		margin-bottom: 20px;
	}

	.footer_child h3 {
		margin-bottom: 13px;
	}

	.footer .footer_child p {
		margin-bottom: 10px;
		margin-top: 10px;
	}

}

@media (max-width: 767px) {
	.header .logo {
		display: none;
	}

	.banner2 .banner_text .btn_banner {
		margin-left: 55%;
	}

	.footer .footer_child p {
		max-width: 265px;
	}

	.carousel2 .owl-carousel .item {
		margin: 0 70px;
	}
}

@media (max-width: 600px) {
	.banner2 .banner_text {
		padding-top: 60px;
		max-width: 500px;
	}

}

@media (max-width: 577px) {

	.log_in {
		width: 100px;
	}

	.clientsSay .clientsSay_text {
		padding-top: 44px;
		padding-left: 15px;
		padding-bottom: 20px;
	}

	.footer_child {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer .footer_child p {
		max-width: 265px;
		text-align: center;
	}

	.footer_child_link {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.carousel2 .owl-carousel .item {
		padding: 10px 10px;
		max-height: 390px;
	}

}

@media (max-width: 500px) {}

@media (max-width: 470px) {
	.banner .banner_text .btn_banner:last-child {
		margin-left: 0px;
		margin-top: 25px;
		display: block;
		width: 200px;
	}

	.carousel2 .owl-carousel .item {
		margin: 0px 20px;
	}
}

@media (max-width: 350px) {}